[2017-05-08 09:39] benjaoming opened #1 "Support i18n"
The installer should be made translatable. This was a missed goal of the KA Lite installer.

[2019-10-07 07:33] radinamatic opened #3 "App (but not the server) does not load after being idle - OSX 10.11.6"
Initial installation and setup wizard procedure went on smoothly, same as for content import.

I managed to successfully connect from one Android client in the same network (is port set to 5000 for any particular reason?)

However, after leaving the app idle for several hours, when I tried to do further testing, I found it was not responsive - stuck with the flapping bird after trying to stop and

[2019-10-07 09:06] radinamatic commented on #3
@mrpau-richard Please re-test on your side to see if you can replicate. Thanks!

[2019-10-08 02:33] mrpau-richard commented on #3
I did not reproduce this issue @radinamatic I'm using macOS Mojave 10.14.5

[2019-10-08 02:36] mrpau-richard opened #4 "Channel videos has no audio output"
I'm using macOS Mojave 10.14.5 and I already reported this on [Slack](https://learningequality.slack.com/archives/CN3DPD0K0/p1569574106004400?thread_ts=1569532733.001300&cid=CN3DPD0K0)

[2019-10-08 02:42] radinamatic commented on #3
Thanks for testing @mrpau-richard! :+1:

@kollivier Could it be a El Capitan only issue?

[2019-10-08 16:15] kollivier commented on #3
@radinamatic I'm not sure. From the problem description, it sort of sounds like a zombie server process causing problems, but the thing is that if a server was still running on the port, the app should have still loaded Kolibri rather than being stuck on the flapping bird. (The app just keeps checking for a response from `localhost:5000`, so if that returns a response, the app should load it.)

I

[2019-10-10 17:11] radinamatic commented on #3
@kollivier I deleted the `build3` app from the Applications and installed `build4`. It picked up the data from the previous install, the app is still not responsive, and the server is running normally in the browser.

![Fullscreen_10_10_19__9_54_AM](https://user-images.githubusercontent.com/1457929/66590495-32686b00-eb91-11e9-85c6-86cfbe385c5d.png)

A part from the `Error adding signal handler for

[2019-10-12 20:22] radinamatic commented on #3
I managed to replicate the exact same error in the El Capitan virtual machine, so it's not a fluke on my main testing Mac. Since the server is not accessible in the browser when I close the app, it might have something to do with the failing 'Kolibri ready' check as @kollivier suggested.

![Fullscreen_10_12_19__6_19_AM](https://user-images.githubusercontent.com/1457929/66707302-b01da980-ed3e-11e9-

[2019-10-15 08:03] mrpau-julius commented on #3
You're right @radinamatic, I also reproduce this error after I updated the El Capitan version 10.11.3 to 10.11.6 using virtual machine.
![Screen Shot 2019-10-15 at 3 22 12 PM](https://user-images.githubusercontent.com/38421180/66812229-16841100-ef65-11e9-9a72-4a769d8ed527.png)

[kolibri.txt](https://github.com/learningequality/kolibri-installer-mac/files/3727997/kolibri.txt)
[kolibri-app.txt](http

[2019-10-15 17:28] radinamatic commented on #3
Thank you @mrpau-julius for confirming, I'm currently testing and trying to replicate on Sierra & Mojave VMs, will report back!

[2019-10-16 02:40] radinamatic opened #5 "Full screen option not working"
Button to open videos, epub & PDF files, HTML apps in full screen mode, is not functional.

Tested with `build5` on macOS Sierra 10.12.

[2019-10-16 02:50] radinamatic opened #6 "PDF files not loading"
PDF files do not load correctly in the app, but are fully visible in all 3 browsers (Safari, Firefox & Chrome).
Nothing appears to be reported in the app logs.

`build5` in macOS Sierra 10.12

![Sierra-vm__start___Running_](https://user-images.githubusercontent.com/1457929/66884089-5a603000-efd0-11e9-97c1-9dd1619cf476.png)

[2019-10-16 02:54] radinamatic commented on #4
Hearing audio without problems with `build5` on macOS Sierra 10.12.

[2019-10-18 07:33] mrpau-julius commented on #4
This issue still exists in `build5` on MacOS Mojave 10.14.5, the Touchable Earth(en) videos was no audio.

[2019-10-21 06:33] radinamatic opened #7 "Downloading content resources from Learn is not working"
Clicking the <kbd>Download content</kbd> button under a resource in Learn and selecting something from the available options has no effects. Downloading from browser is working fine.

Confirmed with `build5` on macOS El Capitan 10.11 and Sierra 10.12.

[2019-10-21 06:38] radinamatic commented on #4
Videos from KA English channel have no issue playing sound in macOS 10.11 and 10.12, but I'm getting the `The media could not be loaded, either because the server or network failed or because the format is not supported` error when playing Touchable Earth channel videos in Sierra 10.12 :confused:

![macOS Sierra (start)  Running  - Oracle VM VirtualBox_016](https://user-images.githubusercontent.co

[2019-10-21 08:27] radinamatic commented on #3
I replicated the issue on two different El Capitan VMs with the `build5`, server keeps running in the browser, but not loading in the app after VM restart:

![ElCapitan (start)  Running  - Oracle VM VirtualBox_014](https://user-images.githubusercontent.com/1457929/67188648-14023b00-f3ed-11e9-91cc-6af6c6ae17fb.png)

[kolibri-app.txt](https://github.com/learningequality/kolibri-installer-mac/files/3

[2019-10-21 11:48] radinamatic commented on #6
Confirmed in the second, different Sierra VM, but so far it seems to be limited to that version only, does not occur on El Capitan or High Sierra.

[2019-10-21 11:53] radinamatic opened #8 "Add zoom ability to the app"
Possibility to zoom in (and out) is an important inclusive design requirement, and must be available in the app, as it is in the browsers.

[2019-10-21 23:29] indirectlylit commented on #7
I believe that in the Android app we disable this button. That would be acceptable here, to

[2019-10-22 00:24] kollivier commented on #4
When checking into it, it seems the issue is the use of the mp3 encoding for audio, which is a non-free codec. It's actually likely the same issue being tracked here:

https://github.com/learningequality/sushi-chef-touchableearth/issues/14

@radinamatic Do you only get the error message on 10.12? That is, on 10.11 does it appear but not play audio instead of throwing an error?

[2019-10-22 02:50] kollivier commented on #5
@radinamatic @indirectlylit Ideally, for this I'd like to just use the app's native fullscreen functionality (green gumdrop button + add an Enable Fullscreen option in View menu) and disable the button in Kolibri. (e.g. have fullscreenApiIsSupported return false) Would that be an option? It looks like the alternatives would be rather involved and would probably require patching upstream libraries

[2019-10-23 17:42] indirectlylit commented on #5
That sounds fine for this MVP.

Ideally, I think we would keep the full-screen button visible, and have it communicate with the native mac app functionality. However, we can open a follow-up issue for that.

[2019-10-24 03:48] radinamatic commented on #7
Maybe for this _still-not-official_ release it could be enough, but if the intention is to have the macOS app for partner demonstration and them trying out Kolibri, we should find the solution for it eventually.

If I remember correctly, the reason for hiding this on Android is the lack of storage space, which may be true on that platform, but probably most not on macOS devices.

[2019-10-24 04:19] radinamatic commented on #5
Puzzled with the `green gumdrop button`, but I can already see the `Enter full screen` native option in the View menu on the `build6`, and that solves the present concern.

+1 for the suggestion to make the Kolibri button talk with the native functionality in the future!

[2019-10-24 04:29] radinamatic commented on #3
Issue still present on `build6`, but since we agreed to limit the scope of testing to more recent versions, closing this and concentrating on Mojave & High Sierra.

![ElCapitan (start)  Running  - Oracle VM VirtualBox_024](https://user-images.githubusercontent.com/1457929/67453658-a2620100-f627-11e9-9d1e-311041746bf4.png)

[2019-10-24 04:29] #3 closed

[2019-10-24 05:10] indirectlylit commented on #7
The intent is that this will be an "official" release.

What's the user need for enabling 'download'? The client and server are on the same device, so "downloading" would just create a duplicate copy of the content and waste hard drive space.

[2019-10-24 05:15] indirectlylit commented on #5
gumdrop:

![image](https://user-images.githubusercontent.com/2367265/67455499-a1f34700-f5e2-11e9-876e-d24a375af7ab.png)

[2019-10-24 05:39] radinamatic commented on #5
Gah, non-native Mac user over here... :woman_facepalming:

[2019-10-24 15:14] indirectlylit commented on #5
sort of a historical term from these days:

![image](https://user-images.githubusercontent.com/2367265/67499603-3f2b9b00-f636-11e9-8cfe-993d372146d6.png)

![image](https://user-images.githubusercontent.com/2367265/67499485-07245800-f636-11e9-923c-04952cb19da1.png)

[2019-10-24 16:32] radinamatic commented on #5
Yep, googling just got me the second image...
And actually the first one was the *first and last* Mac I used before LE, but it must have been too short to acquire the native lingo :stuck_out_tongue:

[2019-10-24 16:35] radinamatic commented on #7
In other places it's been referred to as `MVP`, but I guess that can be _official_ too.

Fair enough, I was only thinking in the line of the need not to curtail the Mac app user experience if it was primarily for evaluation purposes.

[2019-10-25 03:35] radinamatic commented on #4
Since we are limiting the scope to High Sierra and Mojave, repeating the test with `build6`:

### macOS High Sierra 10.13:

#### Touchable Earth channel

- Mac app: no sound
- Firefox & Chrome: no issues (video play, sound present)
- Safari (video black, no sound)

![HighSierra (start)  Running  - Oracle VM VirtualBox_038](https://user-images.githubusercontent.com/1457929/67537919-abada500-f6dd-11

[2019-11-23 00:34] indirectlylit opened #13 "scrolling in mac app is slow compared to web browsers"
Comparison of momentum scrolling using trackpad on firefox, chrome, and the mac app:

![scroll](https://user-images.githubusercontent.com/2367265/69469450-d70bca00-0d45-11ea-9e1b-45f34345474c.gif)

* MacOS 10.14.6 2017 Macbook Pro
* Kolibri Beta 1

[2019-11-25 16:05] indirectlylit commented on #8
addressed

[2019-11-25 16:05] #8 closed

[2019-11-25 16:06] indirectlylit opened #14 "integrate translations"
Once translations are complete, they must be integrated.

See https://crowdin.com/project/kolibri-mac-app

[2019-11-25 16:06] indirectlylit commented on #1
addressed. Follow-up: https://github.com/learningequality/kolibri-installer-mac/issues/14

[2019-11-25 16:06] #1 closed

[2019-11-25 16:12] indirectlylit commented on #4
closing here.

* Touchable Earth issue is tracked in https://github.com/learningequality/sushi-chef-touchableearth/issues/14
* KA EN channel on Safari (video black, sound plays) - this sounds like a major problem. @radinamatic would you mind opening an issue in https://github.com/learningequality/sushi-chef-khan-academy

[2019-11-25 16:12] #4 closed

[2019-11-25 16:18] indirectlylit commented on #5
This appears to work for me, independent of the native OS gumdrop full-screen:

![full](https://user-images.githubusercontent.com/2367265/69557782-05fb8900-0f5c-11ea-9a71-9e59016a05dd.gif)

Do others see different behavior?

[2019-11-25 16:41] indirectlylit opened #15 "app launches from Terminal but not Finder"
It is possible to launch the app from the terminal by running

[code]

However it is not possible to launch from the Finder.

@kollivier says:

Tested on Mojave 10.14

[2019-11-25 16:46] indirectlylit opened #16 "app should use ~/.kolibri as KOLIBRI_HOME"
Currently, the app uses as `KOLIBRI_HOME`:

[code]

While this is good practice for general mac apps, it is inconsistent with the rest of the Kolibri distributions and our [user docs](https://kolibri.readthedocs.io/), which all use `~/.kolibri` as the default `KOLIBRI_HOME`.

One specific disadvantage is that if users have previously run the pex on Mac, they will expect to have their existing data

[2019-12-01 01:33] radinamatic commented on #15
Still extant on the 0.13.0b2 release.

Asks for `git` to be installed on first run:

![2019-12-01_1-45-00](https://user-images.githubusercontent.com/1457929/69908057-ee9c2000-13e1-11ea-933b-ed9ca45c73b3.jpg)

Fails to start the server:

![2019-12-01_2-03-41](https://user-images.githubusercontent.com/1457929/69908063-1f7c5500-13e2-11ea-9956-03ad4b190fef.jpg)

But it can be started by executing `./K

[2019-12-01 02:38] radinamatic opened #18 "videos not playing in app/Safari, but do in Firefox/Chrome"
`0.13.0b3` on Mojave 10.14.3.

Both macApp and Safari seem to be having the same issue with playing videos, but Firefox & Chrome play just fine:

![2019-12-01_3-11-02](https://user-images.githubusercontent.com/1457929/69908512-586cf780-13eb-11ea-8b34-fd5f5457481b.jpg)

![2019-12-01_3-17-38](https://user-images.githubusercontent.com/1457929/69908505-3d01ec80-13eb-11ea-9b23-8a62ed5052cb.jpg)

[2019-12-01 10:16] radinamatic commented on #5
Yep, working OK on 0.13.0b3, closing! 👍

![2019-12-01_11-08-38](https://user-images.githubusercontent.com/1457929/69912605-ea94f000-142b-11ea-8148-24e1fc436941.jpg)

[2019-12-01 10:16] #5 closed

[2019-12-01 18:13] radinamatic commented on #16
➕ 💯

It would be much easier from the documentation and support point of view if we had a unified and consistent location for the Kolibri home folder.

[2019-12-04 02:43] indirectlylit opened #21 "various PIL import errors in kolibri-app.txt log file"
I'm seeing a lot of errors in the log file. There's not a clear user-facing impact, but this may be indicative of a problem, or at the very least make debugging actual errors more difficult.

Examples include:

[code]

and

[code]

[2019-12-05 01:38] indirectlylit commented on #13
Tested on Safari, which is silky smooth:

![safari](https://user-images.githubusercontent.com/2367265/70196194-d0257580-16bc-11ea-8adb-6620f12dfb76.gif)

[2019-12-05 01:55] #16 closed

[2019-12-05 01:55] #15 closed

[2019-12-06 05:00] mrpau-richard opened #24 "Kolibri failed to start"
I'm having an error after I installed this [build](https://drive.google.com/open?id=1erWzsFHksQ9YIo9-UZSCvGqRDAgujWR1) on my mac 10.14.5
![Screen Shot 2019-12-06 at 10 14 52 AM](https://user-images.githubusercontent.com/8663934/70297219-2a8f1500-1828-11ea-85bc-8ec3f4f0092d.png)

Here's the Kolibri log files [kolibri.txt](https://github.com/learningequality/kolibri-installer-mac/files/3930480/kolib

[2019-12-09 19:18] kollivier commented on #21
@indirectlylit Doing a search of the code, there are no references to PIL usage in Kolibri. I found references in Django, for doing image validation, but I think that's for things like image upload. Unfortunately, there's an issue both with PIL and py2app that means we have to do a custom build of PIL to bundle it (and have a way of doing it on the build machine as well). I can do that if necessar

[2019-12-09 20:25] indirectlylit commented on #21
Yeah I'm not too worried about this - just wanted to track it somewhere. It's not assigned to the release milestone

[2019-12-09 20:44] indirectlylit opened #26 "Mac app reports itself as "Server: Kolibri internal server""
The 'device info' page in Kolibri should report the 'Server' as 'Mac app' or similar, to distinguish from the pex:

![image](https://user-images.githubusercontent.com/2367265/70471173-8ef8e100-1a81-11ea-9a14-f7f5efc22d20.png)

[2019-12-09 20:53] indirectlylit opened #27 "mac app text will sometimes show in non-preferred language"
Reported during the bug bash: @jtamiace saw her app in hindi, and @lyw07 saw her app in Korean. Neither had their OS set to that language, but both had the language installed.

![image](https://user-images.githubusercontent.com/2367265/70471859-de8bdc80-1a82-11ea-9ae3-355c900284f5.png)

[2019-12-09 20:56] indirectlylit opened #28 "mac app will sometimes not start"
This behavior was observed by many users. In some situations it seemed to be that the server was simply taking a very long time to start. In other situations it may never start.

### Example 1

from @laurenlichtman

logs:

* [kolibri - lauren.txt](https://github.com/learningequality/kolibri-installer-mac/files/3941694/kolibri.-.lauren.txt)
* [kolibri-app - lauren.txt](https://github.com/learningeq

[2019-12-09 23:20] kollivier commented on #27
Should be addressed by #25

[2019-12-10 00:20] kollivier commented on #28
@khangmach We might want to flag this for a later discussion. The "Kolibri" in this dialog is intended to refer to the app itself, not the server. (The app is designed to automatically try to restart the server after a certain period of time, and this error message is after multiple restarts fail.) The idea was that people would see the app itself as "Kolibri", with the server just being an implem

[2019-12-10 00:24] kollivier commented on #28
While I haven't been able to reproduce this problem, I did notice that exceptions weren't getting written to the log files, so I've put in a fix for that. I'm hoping at the next bug bash (or before if we can have someone try the logging build earlier) we can see what errors are actually being thrown.

[2019-12-10 22:33] kollivier commented on #27
Mac app build to use: https://github.com/learningequality/kolibri/releases/tag/v0.13.0-beta5

[2019-12-10 22:35] kollivier commented on #28
Mac app build to use: https://github.com/learningequality/kolibri/releases/tag/v0.13.0-beta5

@khangmach tested this build and reported the issue was fixed, and I'm not sure how to reproduce as of yet, so I guess as long as you don't see the problem we can mark this fixed.

[2019-12-10 22:36] kollivier commented on #14
Mac app build to use for testing: https://github.com/learningequality/kolibri/releases/tag/v0.13.0-beta5

[2019-12-10 22:37] kollivier commented on #14
The way to test this is to switch your Language & Region setting to something other than English, then restart the machine and make sure menu items appear in that language. Kolibri will still ask you to pick your language on first start up.

[2019-12-11 01:53] indirectlylit commented on #28
great!

[2019-12-11 01:53] #28 closed

[2019-12-11 01:54] indirectlylit commented on #27
I believe this was addressed. @lyw07 and @jtamiace could you guys confirm?

[2019-12-11 01:54] #27 closed

[2019-12-11 02:38] lyw07 commented on #27
yes the issue no longer exists on my local mac installer

[2019-12-11 19:25] laurenlichtman commented on #28
@kollivier @indirectlylit Flagging that I had the same issue as reported above with "kolibri-0.1.0-build16."

[2019-12-11 19:38] laurenlichtman commented on #28
Whoops - just kidding :) Kevin showed me that I needed to shut down the server as I still had it running, and now it works.

[2019-12-13 02:34] cpauya opened #31 "When app has started, it shows a dialog where Git command asks to install command line developer tools"
When the Mac app has started, a dialog appears asking that the `git` command asks to install command line developer tools.  Please see attached screenshot.

**Environment**
OS: macOS Catalina v10.15.1 - freshly installed
Mac App Build: [`kolibri-0.1.0-build16.dmg` - unsigned, still beta 5](https://drive.google.com/open?id=1oVlC7_viSiaCpdVoAwO6LSWdURbBfPzY)

**To Reproduce**

1. Download the [`koli

[2019-12-15 01:10] indirectlylit opened #34 "DMG background image very slightly distorted"
Super minor observation: the Learning Equality logo is very slightly distorted.

I believe this might be due to use of a regular-resolution graphic on a retina mac with an external monitor... ??

Shrug! :)

`¯\_(ツ)_/¯`

![image](https://user-images.githubusercontent.com/2367265/70856456-81cd5f00-1e92-11ea-8b77-dfae24a3063b.png)

[2019-12-15 01:40] #26 closed

[2019-12-16 04:35] indirectlylit opened #35 "zoom only affects font size"
Observed that zoom changes font size only, unlike web browsers which scale the entire page:

| browser | mac app |
|--|--|
|![image](https://user-images.githubusercontent.com/2367265/70879381-f62efd80-1f79-11ea-9615-b2f5b4e9512c.png)|![image](https://user-images.githubusercontent.com/2367265/70879253-79038880-1f79-11ea-87ab-34908d4b2098.png)|
|![image](https://user-images.githubusercontent.com/236

[2019-12-16 04:49] #24 closed

[2019-12-16 04:50] indirectlylit opened #36 "coach report CSV export does not work"
We'll need to either get this working or temporarily disable it:

![image](https://user-images.githubusercontent.com/2367265/70880004-5aeb5780-1f7c-11ea-983e-e804fa776e43.png)

[2019-12-16 19:18] kollivier opened #37 "Download disabled strings assume Android platform"
![image](https://user-images.githubusercontent.com/29585/70935726-b4dc3380-1ff5-11ea-88b4-8d316fbd5068.png)

[2019-12-16 19:28] indirectlylit commented on #37
hm. Maybe on mac, we should just hide that entire "Export usage data" block?

[2019-12-17 01:27] #37 closed

[2019-12-17 01:27] #36 closed

[2019-12-17 01:28] #31 closed

[2019-12-17 01:28] #7 closed

[2019-12-17 05:45] cpauya commented on #31
This is fixed as tested on a fresh macOS Catalina VM using this build: https://buildkite.com/learningequality/kolibri-macos/builds/501#caa761f8-e0f4-42f4-9fcf-018324ada60d

[2019-12-17 21:46] kollivier commented on #35
Sorry, tagged the issue in a commit and it auto-closed. Reopening.

[2019-12-19 05:19] indirectlylit opened #42 "tag a final release for the initial installer version"
Once we have all our changes in, let's tag a final release. This should involve:

1. create a `v0.1.0` release and git tag through https://github.com/learningequality/kolibri-installer-mac/releases
2. close the 0.1.0 milestone here: https://github.com/learningequality/kolibri-installer-mac/milestone/1
3. ~ensure that Kolibri builds are pinned to the 0.1.0 release~ postponed

we may want to conside

[2019-12-19 17:09] kollivier commented on #42
Release is generated and milestone is closed:

https://github.com/learningequality/kolibri-installer-mac/releases/tag/v0.1.0

@DXCanas How do we go about pinning the Kolibri builds to use this release?

[2019-12-19 17:36] #42 closed

[2019-12-19 17:37] #14 closed

[2019-12-19 17:38] #35 closed

[2019-12-20 15:06] indirectlylit opened #43 "cmd-q to quit causes app to hang"
Reported by @jonboiser

https://www.notion.so/learningequality/Final-0-13-0-bug-bash-1a42c98693c54230aaec95c648c4fd8d?p=9b2ecf051d37426bba0fb3622f11cc5a

[2019-12-20 15:12] indirectlylit opened #44 "frustrating text highlighting behaviors"
reported by @jonboiser and @jtamiace during a bug bash that highlighting text selects a lot more than intended

![image](https://user-images.githubusercontent.com/2367265/71264026-0affee00-22f8-11ea-9066-fe41b592ed17.png)

![image](https://user-images.githubusercontent.com/2367265/71264052-18b57380-22f8-11ea-99f3-49495259517d.png)

[2019-12-20 15:19] indirectlylit opened #45 "external links are broken in mac app"
For example, see Device -> Info -> Server URL

[2019-12-20 15:22] indirectlylit opened #46 "cmd+0 does not set original size"
| Default zoom | cmd+0 |
|--|--|
|![image](https://user-images.githubusercontent.com/2367265/71264643-62eb2480-22f9-11ea-9df0-211beeda265d.png) |![image](https://user-images.githubusercontent.com/2367265/71264651-68486f00-22f9-11ea-832a-a2945df23731.png)|

[2019-12-20 16:54] kollivier commented on #43
@jonboiser Do you know if it ever quit? One thing I have seen is that the app does appear to hang while the server shuts down, which does sometime take time. Also, if you could check `~/.kolibri/logs/kolibri.txt` and `~/.kolibri/logs/kolibri-app.txt` I can see if there was anything suspicious in there.

[2019-12-20 19:59] jonboiser commented on #43
@kollivier It does quit, but shows the "quit unexpectedly" pop-up and the crash report window on the second launch. During the bug bash, I didn't see anything unusual in the logs immediately after I noticed this happening.

I think I was able to quit the app easily initially, but then changed the "Landing page" setting and quit to test it, and that's the first time I remember the app hanging (coul

[2019-12-20 20:42] kollivier opened #47 "Get Mac app notarized"
Starting with macOS Catalina (though I have seen this in Mojave too so it may have been backported), Apple is requiring apps distributed outside of the Mac app store to be notarized. Apps that are not notarized must first be run through a potentially lengthy verification process. Note that this is independent of code-signing, so just code-signing the build is not enough.

There are several steps w

[2019-12-21 03:37] indirectlylit opened #48 "DMG volume name is incorrect"
The volume name shows the version of the ~installer~ mac wrapper app rather than the version of Kolibri:

![image](https://user-images.githubusercontent.com/2367265/71302485-39191880-2360-11ea-899f-867d840257c6.png)

[2019-12-21 04:29] kollivier commented on #48
It's not the version of the installer, it's the version of the app, and the convention in DMGs is to report the app version you're downloading.

We can change this, but especially thinking forward about things like app software updates, I think we need to have a clear strategy about how to differentiate the app and Learning Platform versions. The app is not "just" another packaging of the Learning

[2019-12-23 23:59] indirectlylit commented on #48
Right, by "installer" I meant to write "mac wrapper app".

This relates to https://github.com/learningequality/kolibri/issues/6409

For Windows app, we pin Kolibri versions to particular versions of the Windows installer and app (which are actually two different sets of code in one repo...). This pinning means that:

* If someone says "I'm running Kolibri 0.13", we know exactly which version of th

[2019-12-24 00:23] kollivier commented on #48
I see, so if the Windows app and installer versions are always pinned to the Kolibri version, why do we have separate versions for the app and installer then? I think part of my confusion is that we want to have this other version, but then I don't see where / when we actually use it?

I thought having Android detect / load network Kolibris was a fairly short-term goal? (The codebases are mostly t

[2019-12-24 01:45] indirectlylit commented on #48
It's useful to version them separately because the update cadences are quite different. In practice, the distributions update far less frequently than the learning platform, and it's useful to be able to say something like "in Kolibri 0.13.4, we updated the mac installer to 0.1.1 to fix these issues..."

there are two fairly independent use-cases:

* a thin android client capable of detecting and

[2019-12-24 15:52] kollivier commented on #48
Okay, so when do we use / show one version or the other? For example:

1. It sounds like we want the DMG filename to use the Kolibri release.
2. Should the app itself also report its version as 0.13, or 0.1.0? (e.g. when app info is viewed in the Finder. This would also be what appears if we add an About dialog)
3. Should the app internally see the version as 0.1.0, or 0.13?

Nope, I was just flag

[2019-12-25 00:03] indirectlylit commented on #48
When possible and reasonably easy to implement, we should report _both_ versions. For example, the device info page of the mac app currently looks like this:

![image](https://user-images.githubusercontent.com/2367265/71426767-ee0f4600-267c-11ea-94d7-2a1c61041771.png)

We might need to re-work the terminology a bit and be more precise about the terms, but I would expect this to look something like

[2019-12-27 05:08] kollivier commented on #48
Okay, thanks, I'll take a closer look at making these changes when I get back!

[2020-01-13 06:34] mrpau-richard opened #49 "Kolibri failed to start"
Kolibri failed to start after I upgrade from 0.12.b4 to 0.13.0. I'm using macOS Mojave 10.14.5.
[kolibri-app.txt](https://github.com/learningequality/kolibri-installer-mac/files/4052313/kolibri-app.txt)

![Screen Shot 2020-01-13 at 2 28 21 PM](https://user-images.githubusercontent.com/8663934/72236320-506ebd00-3611-11ea-8d41-7b1509f42da2.png)

[2020-01-18 02:58] indirectlylit commented on #49
I see one error:

[code]

[2020-01-18 02:58] indirectlylit commented on #49
cc @kollivier or @benjaoming  thoughts?

[2020-01-23 22:25] kollivier commented on #49
@mrpau-richard Could you try this build and see if it resolves your issue?

https://drive.google.com/open?id=1GdLEaR1zeyadvfq6YQwYTWHuCpdmBwzY

[2020-01-23 22:37] benjaoming commented on #49
What happens on Mac if you try this:

[code]

[2020-01-23 23:09] kollivier commented on #49
It's a packaging issue, py2app packages up the portions of sqlite3 (and other Python modules) that the app needs. It seems that dump is probably dynamically imported in some way or another, causing the packaging tool to not 'see' the dependency. For the fix I just told py2app to bundle the entire sqlite3 module, instead of just the parts it thinks we need.

[2020-01-24 02:43] mrpau-richard commented on #49
@kollivier I tested the installer you commented above on my macOS 10.14.5. The behaviour is Kolibri mac app crashed after it launch and the same will happen if I launch it again. here's my log file
[kolibri-app.txt](https://github.com/learningequality/kolibri-installer-mac/files/4106604/kolibri-app.txt)

![gif-temp](https://user-images.githubusercontent.com/8663934/73040893-44e38780-3e96-11ea-90db

[2020-01-24 19:27] kollivier commented on #49
@mrpau-richard Thanks, your logs show a different error this time, looks like it is failing when trying to access a morango_databaseidmodel table. Could you send me your `kolibri.txt` log as well so I can try to trace what is happening in Kolibri itself?

[2020-01-27 05:52] mrpau-richard commented on #49
Here's my [kolibri.txt](https://github.com/learningequality/kolibri-installer-mac/files/4115708/kolibri.txt) file

[2020-01-28 01:40] kollivier commented on #49
@mrpau-richard Could you try cleaning your environment and trying the upgrade again, just as you did the first time? I'm not sure how, but it seems like the app error with the missing sqlite module caused the upgrade to get marked as complete when it wasn't properly completed. So now, it seems every time you start the app, it 'thinks' your DB is the 0.13 version when in fact it's still the 0.12 ve

[2020-01-28 06:02] mrpau-richard commented on #49
I confirmed that the original issue was fixed @kollivier by cleaning and re run the original issue steps. I think i'm using the 0.13 db when I'm having the Kolibri mac app crashed should I create another issue for it?

![Screen Shot 2020-01-28 at 1 49 40 PM](https://user-images.githubusercontent.com/8663934/73238993-d5db9b00-41d5-11ea-8f16-740a61859b37.png)

[2020-01-28 17:22] kollivier commented on #49
@mrpau-richard If this is a new crash different from the previous ones, please do go ahead and file a new issue! Thanks!

[2020-01-29 05:47] mrpau-richard opened #51 "Kolibri mac app crash"
Kolibri mac app will exit automatically after it install and launch. I used this [Kolibri mac installer](https://drive.google.com/open?id=1GdLEaR1zeyadvfq6YQwYTWHuCpdmBwzY) in the fresh installation with macOS 10.14.5.

I already commented it in this previous issue https://github.com/learningequality/kolibri-installer-mac/issues/49#issuecomment-577968979

Log files available here:
[kolibri-app.txt

[2020-01-29 05:49] mrpau-richard commented on #49
I created a new issue in #51

Closing this.

[2020-01-29 05:49] #49 closed

[2020-01-29 18:25] kollivier commented on #51
This is the same error in #49, does this test already have a `~/.kolibri` directory? If so, what version of Kolibri created it?

[2020-02-03 10:11] mrpau-richard commented on #51
@kollivier sorry for late response,  I'm using this  [Kolibri mac installer](https://drive.google.com/open?id=1GdLEaR1zeyadvfq6YQwYTWHuCpdmBwzY) with the fresh home folder created by that installer.

[2020-02-03 22:13] kollivier commented on #51
@mrpau-richard I tried deleting `~/.kolibri` and `~/Library/Application Support/Kolibri` directory to run on a clean install, but I have been unable to reproduce so far. Could you try deleting your Kolibri home folder and running again to see if it happens for you again?

[2020-02-04 07:57] mrpau-richard commented on #51
I just tried it on fresh virtual machine with macOS 10.14.6 and I can't also reproduce issue, not until I delete all the contents of `.kolibri` folder while the kolibri mac app still running, and when I launch the Kolibri mac app with empty `.kolibri` then the issue came out. The Kolibri mac app will exit automatically after it run, even I delete the `.kolibri` folder again. I uploaded the `.gif`

[2020-02-04 17:24] kollivier commented on #51
@mrpau-richard Thanks for tracking this down! It turns out that the issue is that when you delete the contents of `~./kolibri` from Finder, it leaves the hidden `.data_version` folder, and it uses that file to determine when it needs to run migrations. The same steps will trigger with the pex as well, so this is an issue with Kolibri itself rather than the Mac app. Could you file a Kolibri issue a

[2020-02-05 07:54] mrpau-richard commented on #51
Here's the issue I filed @kollivier https://github.com/learningequality/kolibri/issues/6519

[2020-02-05 18:47] kollivier commented on #48
@indirectlylit Sorry for taking time to get back to this!

I did some research and found that putting the app name into the version string would block us from being able to submit to the app store. App store requires a numeric X.Y.Z + <build_number> format, so I think to be safe we should adhere to this format. (It will also make it easier to use a third-party app updater library should we so choo

[2020-02-06 20:01] kollivier commented on #51
Thanks! I'm going to close this issue now that it has been filed on Kolibri.

[2020-02-06 20:01] #51 closed

[2020-02-07 05:27] indirectlylit commented on #48
okay thank you!

This is not urgent for 0.1.1/0.13.1

[2020-02-13 22:34] indirectlylit commented on #46
this looks good to me

[2020-02-13 22:34] #46 closed

[2020-11-04 16:12] dylanmccall opened #68 "Download resource buttons are visible in the Windows app"
Using the Kolibri Windows app built from this repository, the "Download resource" button is visible when viewing content such as videos. This link doesn't work because we need to implement some more WebKit things, but it _also_ shouldn't be visible in this context.

<img width="756" alt="Download resource" src="https://user-images.githubusercontent.com/132063/98133911-02ae9400-1e73-11eb-9a53-269c9

[2020-11-04 18:22] kollivier commented on #68
@dylanmccall Actually, it's just that I forgot to add logic specific to Windows for that check. I'm actually thinking that since we now have the app plugin in Kolibri and the appContext stuff, we can rely on that rather than the user agent checks.

The only thing about that is that I realized that the GNOME app probably has `isEmbeddedWebView` set to false, and so download buttons are visible ther

[2020-11-04 19:19] dylanmccall commented on #68
Yeah, I think that would be perfect :)

[2021-01-20 22:35] erikos opened #70 "Kolibri takes a minute to quit while playing a video in windows"
If user tries to quit the application while playing a video, it takes ~ 1 minute to exit. This is quitting the application not escaping the video player.

This issue is seen on Windows with the standalone app.

**NOTE**
- macOS standalone app is not having this issue
- GNOME app is not having this issue

[2021-01-21 16:06] erikos opened #71 "App does not work when not connected to a network"
The standalone Windows app does not work if not connected to the internet. a blank Kolibri screen is shown.

[37mINFO     Starting Kolibri 0.14.3[0m
[37mINFO     ENGINE Bus STARTING[0m
[37mINFO     Starting scheduler workers.[0m
[37mINFO     Registering ourselves to zeroconf network with id '3912fce6ca47e189f0ce5f299ff74438'...[0m
Starting new HTTPS connection (1): telemetry.learningequalit

[2021-01-21 16:16] rtibbles commented on #71
And the server is definitely loading and serving assets too, looking at the log.

[2021-01-21 18:20] jamalex commented on #71
This seems to be the key part of the log, triggering something to shut down:
[code]

[2021-01-21 18:28] jamalex commented on #71
I just tested the Endless key I received (I didn't have a non-VM Windows machine here until very recently) and when I run the Windows app it shows the bird spinner for a bit, then a white screen indeed. But I don't have those errors in my logs. And when I load the URL in a browser, the server does seem to be loading:
![image](https://user-images.githubusercontent.com/618416/105395092-36c46600-5bd3

[2021-01-21 18:39] jamalex commented on #71
The venv thing looks to be a red herring; it only happens once you exit the app. The difference between offline (when it shows the white page) and online (when it loads) is that in the former the log ends with:

[code]

whereas in the online state it continues to load that root_url, instead of just hanging there:
[code]

[2021-01-21 19:34] jamalex commented on #71
@erikos The log you show there looks to be when running online, btw (since it shows `https://telemetry.learningequality.org:443 "POST /api/v1/statistics HTTP/1.1" 200 22`) -- but I've replicated the issue, and here are my log files from an online vs offline run:
[kolibri-app-ONLINE.txt](https://github.com/learningequality/kolibri-installer-mac/files/5851680/kolibri-app-ONLINE.txt)
[kolibri-app-OFF

[2021-01-21 20:36] erikos commented on #71
[kolibri-app-OFFLINE.txt](https://github.com/learningequality/kolibri-installer-mac/files/5852004/kolibri-app-OFFLINE.txt)

Yeah, double checked the offline output is this ^

[2021-01-25 21:47] erikos commented on #70
This has been tested with OceanX and TED-Ed content. Takes a long time to quit Kolibri if one tries to quit Kolibri while the video is still playing.

[2021-01-26 15:28] metodimilevqa opened #87 "High CPU load experienced while importing resources in Kolibri App"
### Observed behavior

A high CPU load is experienced while importing resources to Kolibri App. Furthermore, the app lags a lot while interacting with it.

![highCPU (1)](https://user-images.githubusercontent.com/72492554/105865150-4db3ef80-5ffb-11eb-94b0-8fbfaf692dfc.gif)

### Expected behavior

The app isn't lagging while interacting with it and the CPU load levels are normal, below 50%.

### Us

[2021-02-20 00:49] kollivier opened #73 "Create an abstraction layer for starting the Kolibri server"
Different platforms will start and manage the Kolibri server in different ways, but these should be treated as internal implementation details. In the app GUI, we should have an abstraction layer that handles the native platform behaviors under the hood. (e.g. app code should use the same functions for starting and stopping the service on all platforms)

[2021-02-20 00:50] kollivier opened #74 "Enable Kolibri to choose the port dynamically based on open ports."
In 0.15 in Kolibri, it is possible to set port to 0 to allow ports to be chosen dynamically based on availability. We should use this in the app.

[2021-03-18 19:44] indirectlylit opened #76 "mac DMG layout doesn't look great"
Here's what I see by default:

![image](https://user-images.githubusercontent.com/2367265/111687332-649ae500-87e7-11eb-8110-1b249abf392c.png)

and scrolling down:

![image](https://user-images.githubusercontent.com/2367265/111687375-711f3d80-87e7-11eb-8d40-f6e6cda8f3bf.png)

When I turn off the finder setting to show hidden files it looks a bit better, but the spacing around the 'Learning Equality

[2021-04-06 17:12] rtibbles commented on #71
This has been resolved, as far as I know.

[2021-04-06 17:12] #71 closed

[2021-04-06 19:57] rtibbles opened #77 "Launch kolibri with appropriate installer type env var set"
In line with learningequality/kolibri#7957 the batch file for launching Kolibri should properly set `KOLIBRI_INSTALLATION_TYPE` to:

* Mac - `Mac`
* Windows - `Windows` (see https://github.com/learningequality/kolibri-installer-windows/issues/186)

[2021-05-04 21:39] jamalex opened #79 "Fullscreen not working for videos on Android"
Note: this is different from https://github.com/learningequality/kolibri-app/issues/5 (which was macOS-specific)

While full-screen seems to work for documents, HTML5, etc, the button is disabled on videos. This can impair the ability to watch the full video frame on some screen sizes, and not fully leverage the screen when on smaller screens.

[2021-05-20 21:53] dylanmccall commented on #71
Just for future knowledge: this was fixed by rebuilding kolibri-app with a newer version of wxPython that includes a fix for this wxWidgets bug: https://github.com/wxWidgets/wxWidgets/pull/1133. I think we may want to bump the version of wxPython in https://github.com/learningequality/kolibri-app/blob/master/requirements-win.in as well. I'll test that and make a pull request soon :)

[2021-05-21 06:29] erikos commented on #71
Indeed - this never made it into the requirements so it only worked in the build done at that time. Works with the change from Dylan.

[2021-07-27 23:56] DXCanas opened #84 "Use more of PEW/kapew's features during build process"
After the changes finalized in 6ee8f8b0b24b4ebc47b17681e62d9334e6852ed0, there were a number of utlities added to the `kapew` command seem to duplicate parts of the build script's behavior.

We could start using the `prep-kolibri-dist` command (with `--custom-whl` flag) described here:
https://github.com/learningequality/kolibri-app#downloading-a-kolibri-build

---

We also don't code sign using t

[2021-08-02 20:14] rtibbles opened #86 "Update Android service to use plugin capabilities for sharing intents"

[2021-08-18 16:14] rtibbles opened #88 "Remove Android from this repo and revert to a cross platform desktop app"
After significant issues with the attempt to have one app to rule them all, it seems easiest to maintain separate repos for Android vs Desktop apps.

[2021-08-18 16:15] rtibbles opened #89 "Vendor relevant parts of PEW to reduce complexity and dependencies"

[2021-08-18 16:15] rtibbles commented on #84
Can be resolved in the course of #89

[2021-08-18 16:17] rtibbles opened #90 "Simplify and consolidate purpose of repo to produce a desktop wxPython app"

[2021-08-18 16:20] rtibbles commented on #73
Closing in favour of #88

[2021-08-18 16:20] #73 closed

[2021-08-18 19:07] rtibbles opened #91 "Mac app fails to start with 0.15"
Probably because of the change in signature for the CLI command.

Simplest fix is to use the `kolibri.main.start` function instead of the CLI.

[2021-11-05 19:04] rtibbles opened #92 "Allow loading from the alternate origin port without opening a new webpage"
Currently, the logic for handling URLs only opens on the same host and port.

[2021-12-07 20:00] marcellamaki opened #93 "Kolibri mac app does not start on macOS 12 Monterey"
Port 5000 is now taken by control center, which prevents magicbus from running

https://www.notion.so/learningequality/BROKEN-Kolibri-mac-app-does-not-start-on-macOS-12-Monterey-874363c3fa96457aaba97ae75c0490a5

[2021-12-15 16:46] rtibbles commented on #91
Fixed.

[2021-12-15 16:46] #91 closed

[2021-12-15 19:00] rtibbles commented on #92
Fixed in #94

[2021-12-15 19:00] #92 closed

[2021-12-15 19:00] rtibbles commented on #77
Fixed in #94

[2021-12-15 19:00] #77 closed

[2021-12-15 19:00] rtibbles commented on #93
Fixed in #94

[2021-12-15 19:00] #93 closed

[2021-12-15 19:09] radinamatic commented on #93
@rtibbles Did we confirm that macOS app works in Monterey? Wondering should I include it under _Compatibility_ in user docs...?

[2022-01-20 19:30] rtibbles opened #95 "Create a reusable Github Action workflow for building the App"
Creating a [reusable workflow](https://docs.github.com/en/actions/using-workflows/reusing-workflows) will allow an action from this repository to be used by the main Kolibri repository to build the App in a way analogous to our current triggered build setup in Buildkite.

[2022-02-23 12:16] pcenov opened #97 "Mac app - Cannot import channels"

[2022-02-23 12:16] pcenov opened #98 "Mac app - Cannot import channels"

[2022-02-23 16:11] rtibbles commented on #97
Github failed in issue transfer here.

[2022-02-23 16:11] #97 closed

[2022-02-23 16:20] pcenov opened #99 "Mac app - Cannot import a facility"
## Observed behavior
I'm getting an error each time I attempt to import a facility. Tried importing from a real Windows device and a Ubuntu VM.

## Steps to reproduce the issue
1. Install the following build: https://github.com/learningequality/kolibri-app/actions/runs/1884728835
2. Go to Device>Facilities and attempt to import a facility.

## Screenshots
![2022-02-23_17-39-28](https://user-images

[2022-02-23 16:42] pcenov commented on #99
@rtibbles noting here as well that if load Kolibri in an external browser I do see the options for Export usage data and Import and export users however these are also not working. Checked on a previous 0.15 version of the Mac app and they are working fine there.

[2022-02-23 16:48] pcenov commented on #99
These options are completely hidden inside the Mac app in the current as well as in the previous builds which I've tested there.

[2022-02-25 00:37] rtibbles commented on #95
Fixed in develop and integrated in https://github.com/learningequality/kolibri/pull/8279

[2022-02-25 00:37] #95 closed

[2022-02-25 08:46] pcenov commented on #98
Tested and verified as fixed in https://github.com/learningequality/kolibri-app/actions/runs/1896136465 - all Import options are functioning correctly now.

[2022-02-25 16:44] #99 closed

[2022-02-26 15:39] #74 closed

[2022-03-04 17:00] rtibbles commented on #89
This was resolved in https://github.com/learningequality/kolibri-app/commit/4fad8ae5023a74be68d37e59714ccbfb708932a0 with the finalization of code signing and notarization functionality.

[2022-03-04 17:00] #89 closed

[2022-03-04 17:01] rtibbles commented on #84
#89 has been resolved, closing this.

[2022-03-04 17:01] #84 closed

[2022-03-04 17:02] #48 closed

[2022-03-04 17:02] #47 closed

[2022-03-04 17:33] rtibbles commented on #21
These errors no longer appear.

[2022-03-04 17:33] #21 closed

[2022-03-04 17:36] rtibbles commented on #44
Unable to reproduce in latest version. Appears to be fixed.

[2022-03-04 17:36] #44 closed

[2022-03-04 17:36] rtibbles commented on #45
This issue seems to still be extant.

[2022-03-04 17:43] rtibbles commented on #90
This Epic is now complete.

[2022-03-04 17:43] #90 closed

[2022-03-04 17:52] rtibbles commented on #34
Won't fix!

[2022-03-04 17:52] #34 closed

[2022-03-04 17:54] marcellamaki commented on #13
Closing -- can't replicate on new version

[2022-03-04 17:54] #13 closed

[2022-03-04 17:57] marcellamaki commented on #43
Although this does say "hard to reproduce", I have no problems with it and have not been able to reproduce it with a variety of different tests, including the landing page setting change mentioned. Quits promptly without issue, and no crash report. Will reopen if it becomes a problem in the future.

[2022-03-04 17:57] #43 closed

[2022-03-04 18:15] marcellamaki commented on #87
Retested. While CPU does still spike during the import itself, the UI interactions such as checking resources and scrolling are not lagging and usability is not interrupted.

[2022-03-04 18:15] #87 closed

[2022-03-07 15:11] pcenov commented on #6
@radinamatic I tested this today with the latest app installer and the PDF files can be opened correctly in both the app and the supported browsers.

[2022-03-07 15:11] #6 closed

[2022-03-16 17:58] rtibbles opened #103 "Reinstate buildkite pipeline for building the DMG"
Recent work went a little too far and removed all the buildkite pipelines from this repository (rather than just the Android one). This should be reinstated so that current Kolibri builds can use the new installer.

[2022-04-08 17:53] rtibbles commented on #103
Fixed in https://github.com/learningequality/kolibri-app/commit/9e784a6e5e2ac995f58edba57708f316a78c1b99

[2022-04-08 17:53] #103 closed

[2022-09-22 14:28] rtibbles opened #105 "Build fails with error `NameError: name 'unicode' is not defined`"
Not clear if this is only happening for the develop branch of Kolibri, or whether this happens for 0.15.x as well.

Traceback:
[code]

[2022-09-22 14:54] rtibbles commented on #105
This appears to be caused by adding packages to Kolibri that depend on the `typing` backport module. This should be a py2only module.

[2022-09-27 04:36] #105 closed